@charset "utf-8";

body,html{
	border: 0;
	margin: 0;
	font-family: roboto;
	height: 100%;
    background: #fff;


}

*{
	padding: 0;
	margin: 0;
	border: 0;
}

body::-webkit-scrollbar{
	width: 10px;
}


body::-webkit-scrollbar-thumb{
	background-color: #dcab32;
	border-radius: 5px;
}
body::-webkit-scrollbar-thumb:hover{
	background-color: #c4992c;
}

body::-webkit-scrollbar-track{
	border-radius: 5px;
}

/*header*/


#header{
	width: 100%;
	margin: 0  auto;
}


.container{
	max-width: 1110px;
	margin: 0  auto;
	padding: 0 15px;
}


#nav-menu{
	position: absolute;
	left: -100%;
	height: 100vh;
	background-color: rgba(240, 230, 140, 0.39);
	z-index: 50;
	width: 20%;
	top: 0;
	
}

.nav-hover:hover #nav-menu{
	left: 0;
	transition: 0.5s;
}
.iner-text{
	padding: 90px 30px 0 30px ;
}





.logo-area{
	width: 100%;
	margin: 0 auto;
	background-color: #382e87;
	height: 95px;
}


.logo{
	padding: 12px 0 0 495px;

}
.login-button{
	float: right;
	margin-top:12px ;
}

.login{
	padding: 9px 16px;
	border-radius: 16px;
	background-color: #dcab32;
	color: #000;
	font-size: 12px;
	cursor: pointer;
}

.login:hover{
	background-color: #fff;
	transition: 0.3s;
}
.menu ul li{
	display: inline-block;
	text-decoration: none;
	margin-right:50px ;
	font-size:16px;
	color: #fff;
}
.menu ul li a{
	color: #fff;
	text-decoration: none;
}

.menu ul li a:hover, .menu ul li a:active{
	color: #dcab32;
	text-decoration: none;
}

.menu ul li a:hover .icon{
  visibility: hidden;
  cursor: pointer;
}

.left-nav{
	float: left;
}

.right-nav{
	float: right;
}

.last-margin{
	margin: 0!important;
}

.icon{
	width: 25px;
	z-index: 1;
}
.icon-h{
	width: 25px;
	position: absolute;
	cursor: pointer;
}

.icon-h-v{
	display: flex;
	width: max-content;
}

.dflex{
	margin: 5px;
	display: flex;
}

.m-5{
	margin: 5px;
}

.search-box{
	width: 200px;
	height: 23px;
	background-color: #ffffff;
	outline: none;
	padding: 0 3px;
	border-radius: 5px;
	display: none;
}


.search:active .search-box, .search:hover .search-box{
	display: block;
}




/*
.banner img {
	max-width: 100%;
}
*/
.banner{
	display: flex;
	overflow: hidden;
	justify-content: center;
	width: 100%;
	
}

.slide-show{
	animation-name: slider;
	animation-duration: 10s ;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	display: inline-flex;
}

/*
@keyframes slider{
	0%{transform: translateX(0);}
	50%{transform: translateX(100%);}
}

*/




/*header*/


/*body*/

#body{
	background-image: url(assets/images/background.png) auto auto;
}

.container-1, .container-2, .container-3{
	margin: 40px 0;
	background: transparent;
}

.heading-1{
	display: flex;
	justify-content: space-between;
}

.heading-1, .heading-2 h1{
	font-size: 30px;
	color: #382e87;/*--------------------------------------------brand color purple*/
}

.view-all{
	width: 135px;
	height: 42px;
	border-radius: 21px;
	background-color: #dcab32;/*---------------------------------brand color yellow*/
	font-size: 16px;
	color: white;
	box-shadow: 0px 1px 2px 1px #cacaca;
	cursor: pointer;
}

.view-all:hover, .view-all:active{
	background-color: #382e87;
	transition: 0.3s;
	box-shadow: none;
}
.scroll-box{
	padding-top:36px ;
	display: inline-flex;
	overflow-x: scroll;
	width: 100%;
	animation: apear-to 2s ;
}
/*
.scroll-box:hover.scroll-box::-webkit-scrollbar{
 display: block;
 transition: ease-in-out;
}
*/
.container{
	overflow: hidden;
}

.scroll-box::-webkit-scrollbar-track-piece{
    width: 20px;
}

.scroll-box::-webkit-scrollbar{
	width: 12px;
}

.scroll-box::-webkit-scrollbar-track{
	background-color: #382e87;
	border-radius: 10px;
}

.scroll-box::-webkit-scrollbar-thumb{
	background-color: #dcab32;
	border-radius: 10px;
	border: 1px solid #382e87;
}

.box-1{
	cursor: pointer;
	margin: 0 15px 20px 15px;
	width: max-content;
	overflow: hidden;
	min-width: 255px;
	height: 332px;
	border-radius: 15px;
}

.mr-0{
	margin-right: 0px !important;
}

.ml-0{
	margin-left: 0px !important;
}

.box-1 img{
	max-width: 100%;
	
}
.box-1 img:hover{
	/*transform: scale(1.1);
	transition: all 0.3s;*/
	animation-name: scale;
	animation-duration: 1s;
	animation-direction: alternate;
	animation-fill-mode: both;
	
}

@keyframes scale{
	0%{transform: scale(1);}
	50%{transform: scale(1.1);}
	100%{transform: scale(1);}
}



.container-2 .scroll-box,.container-3 .scroll-box{
	padding-top:36px ;
	display: inline-flex;
	width: 100%;
	overflow: hidden;
}

.container-2 .heading-2,.container-3 .heading-2, .container-4 .heading-2{
	display: flex;
	justify-content: center;
}

.container-2 .view-all, .container-3 .view-all{
	float: right;
}

.bg{
	height: 42px;
	background: url(../images/view-bg.png) repeat-x;
}

.bg-2{
	height: 38px;
	background: url(../images/bg-2.png) repeat-x;
	width: 200px;
	margin: 0 12px;
}
.testi{
	margin-top: 25px;
	background-color: #ebd08c;
	width: 100%;
	height: auto;
	border-radius: 25px;
}
.testi-box{
	display: flex;
	justify-content: center;
}
.claint{
	max-width: 75px;
	border-radius: 5px;
	margin: 46px 0 16px 0;
}

.text-box{
	width: 560px;
	text-align: justify;
	color: #3e3e3e;
	font-weight: 400;
	font: 16px;
	margin-bottom: 54px;
}
.text-box span{
	color: #382e87;
}


/*body*/


/*footer*/
#footer{
	width: 100%;
	height: auto;
	margin-top: 42px;
	background-color: #07041e;
}

.footer-top{
   display: inline-flex;
   padding: 9px 0 35px 0;
   width: 100%;
   height: auto;
   justify-content: space-between;
}

.logo-white img{
	height: 58px;
}

.watches h5, .customer h5, .social h5 {
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	padding: 24px 0 22px 0;
}

.footer-top ul li{
	margin-bottom: 15px;
	list-style-type: none;
	cursor: pointer;
}

.footer-top ul li a{
	color: rgb(221, 221, 221);
	font-size: 14px;
	font-weight: normal;
	padding-left: 5px;
	text-decoration: none;
	cursor: pointer;

}
.footer-top ul li a:hover{
	color: rgb(255, 255, 255);
	text-decoration: underline;
}

.d-flex{
	display: flex;
	justify-content: center;
}

.social ul li a:hover.f-icon{
visibility: hidden;
}

.f-icon{
	position: absolute;
}


/*footer*/



