@charset "utf-8";
/* CSS Document */
*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}
body{
	padding: 0;
	margin: 0;
	border: 0;
}
.clear{
	clear: both;
}
#wrap{
	padding: 0;
	margin: 0;
	width: 100%;
	height: auto;
	font-family: Arial;
}

nav{
	padding: 0 40px;
	margin: 0 auto;
	height: 70px;
	width: auto;
}
/* logo-part*/
.logo{
	padding: 0;
	margin: 0;
	line-height: 70px;
	font-size: 45px;
	color:rgba(0,0,0,1.00);/*orange*/
	font-weight: bold;
	font-family: Cano;
}
.logo span{
	color:rgba(255,181,76,1.00);/*deep blue*/
}
/* logo-part*/

/*menu part*/

nav ul{
	padding: 0;
	margin: 0;
	float: right;
	line-height: 70px;
}
nav li{
	padding: 0;
	margin-right: 74px;
	display: inline-block;
}
nav a{
	color: rgba(5,0,38,1.00);
	font-size: 18px ;
	text-decoration: none;
}
 a.active{
	color:rgba(255,181,76,1.00);
}
 a:hover{
	color:rgba(255,181,76,1.00);
	 transition: 0.3s;
}
li.last{
	margin: 0;
}

nav #icon{
	font-size: 46px;
	float: right;
	cursor: pointer;
	display: none;
	padding-top: 13px;
}
/*menu part*/

/*banner*/
.bannner{
	padding: 0;
	margin: 0 auto;
	width: 100%;
	height: auto;
}
.bannner .img-slider {
    position: relative;
    top: 0px;
    width: 100%;
    height: 557px;
    overflow:hidden;
    margin: 0px;
    padding: 0px;

}
.img-slider .slider-container {
    position: absolute;
    width: 300%;
    top: 0;
    left: 0;
    overflow: hidden;
    animation: slider 20s infinite;
}
.img-slider .slider-container .slide {
    position: relative;
    width: 33.33333333%;
    height:100%;
    float: left;
    overflow: hidden;
}
.img-slider .slider-container .slide img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

@keyframes slider {
    0%, 25%, 100%{left: 0}
    
    30%, 55%{left: -100%}
    
    60%, 85%{left: -200%}
}


/*banner*/

/*body-part*/

#section{

	padding: 32px 0 8px 0;
}
.service .content{

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	background-color: #fff;
	padding: 15px;
}

.service .content .box{


	width: 350px;
	margin: 15px;
}


.service .content .box .imgBx{

    position: relative;
    width: 100%;
    height: 300px;
	text-align: center;

}



.service .content .box .imgBx img{


	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}


.service .content .box .text{

   line-height: 300px;
   text-align: center;
	position: relative;

}

.service .content .box .text h3{
	font-weight: 400;
	color: #fff;
	font-size: 30px;
}
.service .content .box .text h3:hover{

color: rgba(255,181,76,1.00);
	transition: 0.5s;
	
}
/*product-section*/

section .product{
	margin: 20px 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	
}

.title{

	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-top: 1px solid rgba(202,202,202,1.00);
	background-color:rgba(240,240,240,1.00);
}



.titleText{

	color: #111;
	font-size: 1.25em;
	font-weight: bold;
	line-height: 49px;
	border-bottom: 2px solid rgba(0,0,0,1.00);
}

.product .content{

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 20px 0 37px 0;
	background-color: rgba(240,240,240,1.00);
}

.product .content .box{


	width: 255px;
	margin: 15px;
}


.product .content .box .imgBx{

    position: relative;
    width: 100%;
    height: 300px;
	text-align: center;
	border: 1px solid #cacaca;
	border-radius: 10px;

}



.product .content .box .imgBx img{


	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}


.product .content .box .text{
   padding-top: 8px;
   text-align: center;
	position: relative;
}

.product .content .box .text h3{
	font-weight: normal;
	color: #000;
	font-size: 20px;
}
.product .content .box .text h4{
	font-size: 17px;
	color: #000;
	font-weight: bold;
	padding-top: 12px;
}
.product .content .box .text h4 strick{
	font-size: 15px;
	color: #929292;
	font-weight: normal;
	text-decoration: line-through;
}

.product .content .box .text h4 span{
	font-size: 15px;
	color: #4372b8;
	font-weight: bold;
}
/*product-section*/

/*review-section*/
.review{
		background-color:#000;
		background: url("../images/Grey-website-background.png") no-repeat;
}
.review .img-slider {
    position: relative;
    top: 0px;
    width: 100%;
    height: 200px;
    overflow:hidden;
    margin: 0px;
    padding: 0px;

}
.review .img-slider .slider-container {
    position: absolute;
    width: 300%;
    top: 0;
    left: 0;
    overflow: hidden;
    animation: slider 10s infinite;
}
.review .img-slider .slider-container .slide {
    position: relative;
    width: 33.33333333%;
    height:100%;
    float: left;
    overflow: hidden;
}
.review .title{

	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 0;
	background: none;
}


.review .title .titleText{

	color: #ffb54c;
	font-size: 20px;
	font-weight: bold;
	line-height: 46px;
	border-bottom: 1px solid #fff;

}

.review .content{

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	background: none;
	
}

.review .content .text-area{
	width: auto;
	height: auto;
    padding: 20px;
	margin: 10px 175px;
	border: 1px solid #ffb54c;
	border-radius: 5px;
}
.review .content .text-area .person{
	width: 100%;
	height: 38px;
	position: relative;
}
.person .img{
	width: 38px;
	height: 38px;
	border-radius: 50%;
	background-color: #fff;
	padding: 0;
	margin: 0;
}
.person label{
    position: relative;
    top: -73%;
	left: 53px;
	color:#ffb54c;
	font-size: 15px;
}
.review .content .text-area .text {
	padding-top: 20px;
	color: #fff;
	font-size: 15px;
}

/*review-section*/

/*contact-section*/
.contact{
	background-color:#000;
}
.contact .title{

	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 0;
	background: none;
}


.contact .title .titleText{

	color: #ffb54c;
	font-size: 20px;
	font-weight: bold;
	line-height: 46px;
	border-bottom: 1px solid #fff;
	
}

.contact .content{

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 15px 0 47px 0;
	background-color: #000;
	margin-top: 20px;
}
.contact .content .box{


	width: 520px;
	margin: 15px;
}


.contact .content .box .imgBx{

    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
}


.contact .content .text-area{
	width: 100%;
	height: auto;
}
.contactForm{

	max-width: 100%;
	max-height: 100%;
	/*align-items: center;
	justify-content: center;*/
}


.contactForm .inputBox{

   position: relative;
   width: 100%;

}

.contactForm .inputBox h3{
	text-align: left;
	font-size: 22px;
	color: #fff;
	font-weight: normal;
	font-family: arial;
	line-height: 40px;
	padding: 10px 0;

}

.contactForm .inputBox input{

	width: 100%;
    border: 0.5px solid #ffb54c;
	padding-left:5px;
	outline: none;
	font-size: 20px;
	color: #fff;
	font-weight: normal;
	font-family: arial;
	line-height: 40px;
	background-color:#4d4d4d; 
	resize: none;
	height: 44px;
	border-radius: 5px;
}
.pa{
	padding: 10px;
}
.contactForm .inputBox textarea{

    width: 100%;
    height: 100px;
    border: 1px solid #ffb54c;
	padding-left: 5px;
	color: #fff;
	outline: none;
	font-weight: normal;
	font-size: 20px;
	resize: none;
	background-color:#4d4d4d;
	font-family: arial;
	border-radius: 5px;

}


.contactForm .inputBox input[type="submit"]
{

	font-size: 1em;
	color: #fff;
	background: #ffb54c;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.5s;
	max-width: 100px;
	font-weight: bold;
	border: none;
	cursor: pointer;
}
.contactForm .inputBox input[type="submit"]:hover{
	color: #000;
}
#call{
	color:#fff;
	font-size: 35px;
	padding-top: 40px;
}
#email{
	color:#fff;
	font-size: 35px;
	padding-top: 30px;
}
#web{
	color:#fff;
	font-size: 35px;
	padding-top: 30px;
}

.ali {
	color: #ffb54c;
	font-size: 35px;
	font-weight: normal;
	padding-top: 5px;
}


/*contact-section*/

/*footer*/
.footer{

	background: #0f0900;
	padding: 20px 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer ul{

    display: flex;
	justify-content: space-between;
	align-items: center;

}

.footer ul li{

	list-style: none;
}

.footer ul li a{

   text-decoration: none;
   display: inline-block;
   margin: 0 10px;


}

.footer ul li a img{

	filter: invert(1);
	max-width: 20px;

}
.icons .fab{

   color: #fff;
   margin: 0 13px;
   cursor: pointer;
   padding: 18px 0;
   font-size: 30px;

}
.icons .fab:hover{

   color: #ffd59a;
	transition: 0.5s;
}


.ftext{

	text-decoration: none;
	font-weight: 300;
	font-size: 1em;
	color: #fff;
}



/*footer*/

/*body-part*/

@media (max-width:1920px){
	
	.bannner .img-slider{
		height: 750px;
	}

	html, body{
		max-width: 100%;
		overflow-x: hidden ;
}

/*1420px*/
@media (max-width:1448px){
	.bannner .img-slider{
		height: 550px;
	}
}
/*1420px*/

/*-------Media Query 1048px---*/
@media (max-width:1048px){
	
	
	
	.bannner .img-slider{
		height: 409px;
	}
	.service .content .box{


	width: 309px;
}


.service .content .box .imgBx{


    height: 268px;


}
	service .content .box .text{

   line-height: 268px;

}
	
}
/*-------Media Query 1048px---*/

/* 992*/

@media(max-width:992px){
	.bannner .img-slider{
		height: 388px;
	}
	
			.service .content .box{
	width: 290px;
}


.service .content .box .imgBx{
    height: 248px;
}
	
	service .content .box .text{
   line-height: 248px;
}
	
}
/*--992--*/


/*--909--*/

@media(max-width:909px){
	nav{
		padding: 0 30px;
	}
	nav #icon{
		display: block;
	}
	nav ul{
		position: fixed;
		width: 100%;
		height: 80vh;
		background: rgba(0,0,0,0.9);
    	left: 100%;
    	text-align: center;
    	transition: all .5s;
		z-index: 1;
		top: 70px;
	}
	nav li{
		display: block;
		margin: 80px 0;
		line-height: 30px;
	}
	nav a{
   
		color: #fff;
     font-size: 27px;

   }

	a.active{
		color: #ffd59a;
	}
   a:hover{

    color: #ffd59a;

   }

   nav ul.show{
    
    left: 0;

   }
	.bannner .img-slider{
		height: 355px;
	}
	
	.service .content .box{
	width: 263px;
}


.service .content .box .imgBx{
    height: 225px;
}
	
	.service .content .box .text {
   line-height: 225px;
}
	
	
	.review .content .text-area{
	margin: 10px 120px;

}
	
	.review .img-slider{
		height: 230px;
	}
}

/*--909--*/

/*--720--*/

@media(max-width:720px){
	nav li{
		display: block;
		margin: 55px 0;
		line-height: 30px;
	}
	nav ul{
		height: 60vh;
	}
	
	.bannner .img-slider{
		height: 280px;
	}
	
	.service .content .box{
	width: 200px;
}


	.service .content .box .imgBx{
    height: 171px;
}
	
	.service .content .box .text{
   line-height: 171px;
}
	.service .content .box .text h3{
		font-size: 22px
	}
	
	
	.footer{
		padding: 20px 40px;
	}
}



@media(max-width:577px){
	.bannner .img-slider{
		height: 225px;
	}
	
	.service .content .box{
	width: 152px;
}


	.service .content .box .imgBx{
    height: 130px;
}
	
	.service .content .box .text{
   line-height: 130px;
}
	.service .content .box .text h3{
		font-size: 18px;
	}
	
	.review .content .text-area{
		margin: 10px 60px;
	}
	.review .img-slider{
		height: 230px;
	}
	
	#call{
	padding:0;;
}
	
		.footer{

	/*padding: 20px 100px;*/
	display: flex;
	/*justify-content: space-between;*/
	align-items: center;
	flex-direction: column;
}

.footer ul{
    float: left;
    display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	padding-top: 5px;

}

.footer ul li{

	list-style: none;
}

.footer ul li a{

   text-decoration: none;
   display: inline-block;
   margin: 0 10px;


}

.footer ul li a img{

	filter: invert(1);
	/*max-width: 100px;*/

}

.icons .fab{

   color: #fff;
   margin: 0 5px;
   cursor: pointer;
   padding: 5px 0px;
   font-size: 20px;

}

.ftext{

	text-decoration: none;
	font-weight: 10px;
	font-size: 13px;
	color: #fff;
	text-align: center;
	align-items: center;
}
	
}
